         <div class="container-fluid">
             <div class="row-fluid">
                 <div class="col-md-12">
                   <div class="page-header">
                      <a class="btn btn-primary" href="/denuncias/show"><span class="glyphicon glyphicon-chevron-left"></span>volver</a>

                   </div>
                     <div class="panel panel-default">
                         <div class="panel-body">
                             <div class="post">
                                 <h2><%= denunciaPage.subject %></h2>
                                 <div class="post-header well well-sm">
                                     <span class="post-author vcard">Posted by <%= denunciaPage.showName %></span>

                                 </div>
                                 <div>
                                 <span class="thumbnail" style="float:left; margin-right: 10px;"><img src="<%= denunciaPage.imgUrl %>"alt="" class="img-responsive" width="300px" height="200px"></span>

                                 <p><%= denunciaPage.description %></p>
                                 <p ><%= denunciaPage.fullDescription %></p>
                                 </div>
                                 <a class="btn btn-primary" href="/denuncias/<%=denunciaPage._id%>">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                             </div>
                             <div class="post">
                               <input type="text" id="latitude" name="latitude" placeholder="Latitude" value="<%=denunciaPage.location.coordinates[1]%>">
                               <input type="text" id="longitude" name="longitude" placeholder="Longitude" value="<%=denunciaPage.location.coordinates[0]%>">
                               <div id="map"></div>
                            </div>
                            <div class="post">
                              <h3 >Listado Comentarios</h3><a href="<%= denunciaPage._id %>/comments/new" class="btn"><i class="glyphicon glyphicon-plus"></i> AÑADIR COMENTARIO</a>
                              <section><% comentarios.forEach((comentario) => { %>
                                  <div class="post-header well well-sm"><strong><%= comentario.username %></strong></div>
                                  <p><%= comentario.comment %></p><br>
                                  <h6><%= comentario.created_at %></h6><br>
                                <%  }) %>
                              </section>
                            </div>
                         </div>
                     </div>

                 </div>
             </div>
         </div>
         <script
            async
            defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxv9S2VZwJ0CTAzD7_89OMV8ebuVZcYGg&callback">
          </script>
          <script type="text/javascript" src="../javascripts/paintMap.js"></script>
