
      By: <strong><%= denunciaPage.showName %></strong>

      <h1><%= denunciaPage.subject %></h1>
      <h2 ><%= denunciaPage.description %></h2>
      <p ><%= denunciaPage.fullDescription %></p>
      <img src="<%= denunciaPage.imgUrl %>">
      <span >$<%= denunciaPage.resolved %></span><br>
